In [1]:
# part3_data_struc 파일명
import pandas as pd

df = pd.read_csv('./data/auto-mpg.csv', header=None) 
df
# 자동차 연비 
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
df.head(7)
df.tail()
df.shape # (398, 9) (행수, 열수)
df.info() #결측값이 있는 확인, 열에 대한 자료형

df.mpg.dtypes
# 또는 동일한 코드
df['mpg'].dtypes
df[ ['mpg','name'] ].dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

mpg     float64
name     object
dtype: object

In [2]:
# 요약 정보 보기
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [3]:
# 요약 정보 보기
df.describe() # 숫자형 자료만 요약정보 보기
df.describe(include='all') #모든 열 자료 요약정보보기 (문자형도 포함)
df.describe(include='number') # 숫자 자료형 열 자료 요약정보 보기
df.describe(include='object') # 문자 자료형 열 자료 요약정보 보기

       horsepower        name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

In [4]:
#139 
df.count()
type(df.count())

pandas.core.series.Series

In [5]:
df1 = pd.read_excel('./data/남북한발전전력량.xlsx')
df1
# 첫행부터 5개 보기
df1.head()
# 첫행부터 20개 보기
df1.head(20)
# 마지막행 앞에서 5개부터 끝까지 보기
df1.tail()
# 행과 열의 갯수?
df1.shape
# 기본정보 보기
df1.info()
# 통계 요약 보기
df1.describe()
# 통계 숫자형 요약보기
# df1.describe(include='number') # 실제 데이터가 모두 object이니깐 오류가 남
# 통계 문자형 요약보기
df1.describe(include='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       9 non-null      object
 3   1991       9 non-null      object
 4   1992       9 non-null      object
 5   1993       9 non-null      object
 6   1994       9 non-null      object
 7   1995       9 non-null      object
 8   1996       9 non-null      object
 9   1997       9 non-null      object
 10  1998       9 non-null      object
 11  1999       9 non-null      object
 12  2000       9 non-null      object
 13  2001       9 non-null      object
 14  2002       9 non-null      object
 15  2003       9 non-null      object
 16  2004       9 non-null      object
 17  2005       9 non-null      object
 18  2006       9 non-null      object
 19  2007       9 non-null      object
 20  2008       9 non-null      object
 21  2009       9 non-null      object
 22  2010       9 non-null      object
 23  2011       9 non-null      object
 24  2012       9 non-null      object
 25  2013       9 non-null      object
 26  2014       9 non-null      object
 27  2015       9 non-null      object
 28  2016       9 non-null      object
dtypes: object(29)
memory usage: 2.2+ KB

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,2,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
unique,2,5,8,8,8,8,8,8,8,8,...,8,8,8,8,8,9,9,9,9,9
top,남한,합계,-,-,-,-,-,-,-,-,...,-,-,-,-,-,5096,5171,5220,5281,5404
freq,1,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,1,1,1,1,1

In [6]:
# 142page 통계함수
df.mean( numeric_only=True )
df.mean(numeric_only=True)
df['weight'].mean() # 산술평균 : 계산에 의해서 대표값 추출하는 방법 
# 단점 : 극단적인 값이 있다면 안 좋음, 계산 시간하는 시간이 걸린다.  장점 : 정확하다
df.weight.mean()
# 중앙값 == 중위값 == 중위수 : 오름차순으로 정렬하고 중간에 위치한 값 
# 주로 사용되는 것은 극단적인 최소, 최대를 제외하고 대표값을 추출할 때 이용함
df.median( numeric_only=True)
df['origin'].median()
# 표준편차 
df.std( numeric_only=True)
df[ ['displacement', 'weight', 'acceleration'] ].std()
# df[ ['displacement':'acceleration'] ].std() 오류발생
# 상관계수 : 변수(량)들 사이의 관계도
df.corr( numeric_only=True )
df[ ['displacement','cylinders']].corr()

              displacement  cylinders
displacement      1.000000   0.950721
cylinders         0.950721   1.000000

In [7]:
df1

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [8]:
# ict_수정.xlsx 파일을 읽어오기
df2 = pd.read_excel('./data/ict_수정.xlsx')
#컬럼명 바꾸기
df2=df2.rename(columns={'학과별(1)':'학과별', '응답자수 (명)':'응답자수' } )
df2
df2 = df2.set_index('학과별')
df2
# 데이터프레임을 전치하기( 행열 위치 바꾸기)
df2 = df2.T
df2
# 데이터 정보
df2.info()
# 데이터 형태 보기
df2.shape
# 데이터 요약 보기
df2.describe()
# 각 열의 데이터 갯수 보기
df2.count()
# '전문대계'열의 고유값 개수 구하기
df2['전문대계'].value_counts()
# 전체 산술평균 구하기
df2.mean()
# '대학원ICT학과' '대학원ICT관련학과'의 산술 평균 구하기
df2[['대학원ICT학과', '대학원ICT관련학과']].mean()
# 전체 중앙값 구하기
df2.median()
# 최대값 구하기
df2.max()
# 최소값 구하기
df2.min()
# 표준편차 구하기
df2.std()
# '대학원ICT학과' '대학원ICT관련학과' 표준편차 구하기
df2[['대학원ICT학과', '대학원ICT관련학과']].std()
df2.corr()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 응답자수 to 여자비율
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   전체계         5 non-null      float64
 1   전체ICT학과     5 non-null      float64
 2   전체ICT관련학과   5 non-null      float64
 3   전체비ICT학과    5 non-null      float64
 4   전문대계        5 non-null      float64
 5   전문대ICT학과    5 non-null      float64
 6   전문대ICT관련학과  5 non-null      float64
 7   전문대비ICT학과   5 non-null      float64
 8   대학교계        5 non-null      float64
 9   대학교ICT학과    5 non-null      float64
 10  대학교ICT관련학과  5 non-null      float64
 11  대학교비ICT학과   5 non-null      float64
 12  대학원계        5 non-null      float64
 13  대학원ICT학과    5 non-null      float64
 14  대학원ICT관련학과  5 non-null      float64
 15  대학원비ICT학과   5 non-null      float64
dtypes: float64(16)
memory usage: 680.0+ bytes

학과별,전체계,전체ICT학과,전체ICT관련학과,전체비ICT학과,전문대계,전문대ICT학과,전문대ICT관련학과,전문대비ICT학과,대학교계,대학교ICT학과,대학교ICT관련학과,대학교비ICT학과,대학원계,대학원ICT학과,대학원ICT관련학과,대학원비ICT학과
학과별,,,,,,,,,,,,,,,,
전체계,1.000000,0.987745,0.208494,0.794418,-0.001908,-0.081794,-0.707070,-0.696322,0.995413,0.941136,-0.175520,0.421921,0.683615,0.035111,-0.289392,-0.024142
전체ICT학과,0.987745,1.000000,0.355059,0.878360,0.152268,0.073608,-0.643529,-0.603470,0.997738,0.982257,-0.022801,0.556054,0.788884,0.189526,-0.138189,0.130550
전체ICT관련학과,0.208494,0.355059,1.000000,0.756418,0.975899,0.945311,0.242132,0.419620,0.300437,0.521841,0.925180,0.973494,0.841373,0.975240,0.856328,0.946780
전체비ICT학과,0.794418,0.878360,0.756418,1.000000,0.604669,0.539353,-0.352890,-0.226950,0.848687,0.952048,0.453702,0.885065,0.983365,0.634380,0.348574,0.583146
전문대계,-0.001908,0.152268,0.975899,0.604669,1.000000,0.990968,0.383070,0.567112,0.093106,0.334013,0.982666,0.905500,0.720699,0.995515,0.945825,0.983490
전문대ICT학과,-0.081794,0.073608,0.945311,0.539353,0.990968,1.000000,0.377191,0.573958,0.013217,0.259319,0.980714,0.863822,0.669865,0.992941,0.976355,0.995726
전문대ICT관련학과,-0.707070,-0.643529,0.242132,-0.352890,0.383070,0.377191,1.000000,0.971196,-0.672528,-0.550718,0.536031,0.040161,-0.249934,0.307998,0.479206,0.294609
전문대비ICT학과,-0.696322,-0.603470,0.419620,-0.226950,0.567112,0.573958,0.971196,1.000000,-0.643075,-0.475260,0.705382,0.213402,-0.098654,0.503880,0.672427,0.500764
대학교계,0.995413,0.997738,0.300437,0.848687,0.093106,0.013217,-0.672528,-0.643075,1.000000,0.968675,-0.081762,0.506351,0.749064,0.129927,-0.197362,0.070228
대학교ICT학과,0.941136,0.982257,0.521841,0.952048,0.334013,0.259319,-0.550718,-0.475260,0.968675,1.000000,0.162687,0.701061,0.889934,0.370290,0.049649,0.313512
대학교ICT관련학과,-0.175520,-0.022801,0.925180,0.453702,0.982666,0.980714,0.536031,0.705382,-0.081762,0.162687,1.000000,0.815857,0.583343,0.966225,0.969586,0.958726
대학교비ICT학과,0.421921,0.556054,0.973494,0.885065,0.905500,0.863822,0.040161,0.213402,0.506351,0.701061,0.815857,1.000000,0.942017,0.917366,0.735564,0.881675
대학원계,0.683615,0.788884,0.841373,0.983365,0.720699,0.669865,-0.249934,-0.098654,0.749064,0.889934,0.583343,0.942017,1.000000,0.751302,0.498229,0.710960
대학원ICT학과,0.035111,0.189526,0.975240,0.634380,0.995515,0.992941,0.307998,0.503880,0.129927,0.370290,0.966225,0.917366,0.751302,1.000000,0.943918,0.993889
대학원ICT관련학과,-0.289392,-0.138189,0.856328,0.348574,0.945825,0.976355,0.479206,0.672427,-0.197362,0.049649,0.969586,0.735564,0.498229,0.943918,1.000000,0.963426
대학원비ICT학과,-0.024142,0.130550,0.946780,0.583146,0.983490,0.995726,0.294609,0.500764,0.070228,0.313512,0.958726,0.881675,0.710960,0.993889,0.963426,1.000000

In [25]:
# 문제 상관계수 값이 절대값 0.5 이상인 것을 열들을 리스트 저장하기
import numpy as np 
df2_corr = df2.corr()
# 상관계수값을 가져와서 0.5이상인지 판단 
# 행수
df2_index_len = len(df2_corr.index) #행의 갯수
# 열수 
df2_col_len = len(df2_corr.columns)
# 열명들을 리스트에 담았다
df2_col_name  = df2_corr.columns
result_list = []
for i in range(df2_index_len):  # i = 0, 1,2,..15
    for j in range(df2_col_len): # j = 0,1,2,.. 15
       if( (np.abs( df2_corr.iloc[i][j]) >= 0.5) and (np.abs( df2_corr.iloc[i][j] ) != 1)  ):
           #print( df2_corr.iloc[i][j] )
           result_list.append( df2_col_name[j])
    print('\n')
# 중복제거하기 위해서 set() 넣기
result_list = set(result_list)
# set자료를 list로 만들기
result_list = list(result_list)
result_list

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_11648\3645984342.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if( (np.abs( df2_corr.iloc[i][j] ) >= 0.5) and (np.abs( df2_corr.iloc[i][j] ) != 1)  ):

['전체ICT관련학과',
 '대학교ICT관련학과',
 '전문대계',
 '대학교비ICT학과',
 '전문대ICT학과',
 '대학원ICT학과',
 '대학원ICT관련학과',
 '대학원계',
 '대학원비ICT학과',
 '대학교계',
 '전체비ICT학과',
 '전체ICT학과',
 '전체계',
 '전문대비ICT학과',
 '전문대ICT관련학과',
 '대학교ICT학과']

In [9]:
# 절대값이 0.5 이상인 상관 계수 추출하기
import numpy as np
df2_corr = df2.corr()
index_size = len(df2_corr.index) # 행의 갯수 16개
col_size = len(df2_corr.columns) # 열의 개수 16개
corr_list = []
for i in range(0, index_size):
    for j in range( 0, col_size):
        if np.abs( df2_corr.iloc[i,j]  ) >= 0.5 :
            print(df2_corr.iloc[i,j] )

1.0
0.9877446520663283
0.7944175623095877
-0.707070107901922
-0.696322258970308
0.9954132228300591
0.941136091698774
0.6836153922053411
0.9877446520663283
1.0
0.8783599743382947
-0.6435285407717761
-0.6034697105746234
0.9977377078465449
0.9822565044652877
0.5560536778242903
0.788884056258475
1.0
0.7564182725413802
0.9758993819671326
0.9453109829268624
0.5218412216410223
0.9251802350508652
0.9734937574590017
0.8413734674502472
0.9752401269642861
0.8563276427683991
0.9467803439393522
0.7944175623095877
0.8783599743382947
0.7564182725413802
1.0
0.6046694503070723
0.5393526601089704
0.8486874936213239
0.952048338982754
0.8850652091152776
0.9833646810123831
0.6343796651002952
0.5831457493054283
0.9758993819671326
0.6046694503070723
1.0
0.990967832623755
0.5671116522182655
0.9826655126852055
0.9055001642609251
0.7206990395762272
0.9955151459289275
0.9458252062025945
0.9834897142576293
0.9453109829268624
0.5393526601089704
0.990967832623755
1.0
0.5739578952691785
0.9807143098663342
0.8638221423849196
0.6698653636971985
0.9929408934971375
0.9763554643899711
0.9957261787891093
-0.707070107901922
-0.6435285407717761
1.0
0.9711959873636745
-0.6725284708463847
-0.5507179658770536
0.5360308325836775
-0.696322258970308
-0.6034697105746234
0.5671116522182655
0.5739578952691785
0.9711959873636745
1.0
-0.6430751905951433
0.7053815295711692
0.5038803672298418
0.6724271460443841
0.5007638999550145
0.9954132228300591
0.9977377078465449
0.8486874936213239
-0.6725284708463847
-0.6430751905951433
1.0
0.9686748950846407
0.506350999414653
0.7490637883939137
0.941136091698774
0.9822565044652877
0.5218412216410223
0.952048338982754
-0.5507179658770536
0.9686748950846407
1.0
0.7010607341453985
0.889934110531094
0.9251802350508652
0.9826655126852055
0.9807143098663342
0.5360308325836775
0.7053815295711692
1.0
0.8158571237960708
0.5833434211195226
0.9662246132222108
0.9695857176059917
0.958726185787602
0.5560536778242903
0.9734937574590017
0.8850652091152776
0.9055001642609251
0.8638221423849196
0.506350999414653
0.7010607341453985
0.8158571237960708
1.0
0.9420171915806147
0.917365819020394
0.7355636027848291
0.8816745401470906
0.6836153922053411
0.788884056258475
0.8413734674502472
0.9833646810123831
0.7206990395762272
0.6698653636971985
0.7490637883939137
0.889934110531094
0.5833434211195226
0.9420171915806147
1.0
0.7513016222159855
0.7109598170322949
0.9752401269642861
0.6343796651002952
0.9955151459289275
0.9929408934971375
0.5038803672298418
0.9662246132222108
0.917365819020394
0.7513016222159855
1.0
0.9439181959312356
0.9938892897392821
0.8563276427683991
0.9458252062025945
0.9763554643899711
0.6724271460443841
0.9695857176059917
0.7355636027848291
0.9439181959312356
1.0
0.9634264948398115
0.9467803439393522
0.5831457493054283
0.9834897142576293
0.9957261787891093
0.5007638999550145
0.958726185787602
0.8816745401470906
0.7109598170322949
0.9938892897392821
0.9634264948398115
1.0